// ============================
// BASIC ELEMENTS
// ============================

body>div.waiter-overlay.waiter-fullscreen {
  background: linear-gradient(135deg, #35357a, #4a4a89, #77778f, #b0b0b8, #e0e0e0);
  cursor: wait;
}

.waiter-overlay {
  background-color: rgba(255, 255, 255, 0.39) !important;
}

.wandering-cubes div {
  background-color: #38387c;
}

.bg-dark {
  color: #000;
  background-color: #ddddde !important;
}

h6 {
  font-size: 1vw;
}

.selectize-control.single .selectize-input:not(.no-arrow):after {
  right: calc(0.75rem + 0px);
}

.selectize-input>* {
  max-width: 75%;
  overflow: clip;
}

.selectize-dropdown-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
  overflow-scrolling: touch;
  min-width: fit-content;
  background: #fff;
  text-align: end;
  position: absolute;
  right: 0%;
  border-radius: 5px;
  box-shadow: 0 0 9px 0 #00000094;
}

.selectize-input.dropdown-active {
  border: none;
}

.help-header {
  display: flex;
  justify-content: space-between;
  height: 38px;
}

.help-header .tooltip-bttn .btn {
  margin: unset;
}

.card-custom .card-body {
  gap: 1vw;
}

.far .fa-circle-question {
  align-self: center;
}

.mass-bin-input .form-group {
  margin-bottom: 12px;
}

.tooltip-bttn .btn {
  width: fit-content;
  max-width: fit-content;
  padding: 0;
  border: none;
  margin-top: 8px;
}

.tooltip-bttn .btn:hover {
  color: unset;
  background-color: unset;
}

#blocking-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  cursor: wait;
}

a {
  color: #38387c;
}

*::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-track:horizontal {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #35357a;
  border: 5px solid white;
  border-radius: 10px;
  min-height: 50px;
  overflow-y: scroll;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

pre::-webkit-scrollbar-thumb:horizontal {
  border: 5px solid #f5f5f5;
}

pre {
  background-color: #f7f7f7;
}

#app-deconvolution_process-deconvolution_init_ui>div {
  height: 100%;
  margin-bottom: unset;
}

.selectize-control.single .selectize-input:hover {
  background-color: #404040;
  color: white;
  border-color: #404040;
}

.deconvolution-init-ui-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.shiny-output-error-validation {
  font-weight: 600;
  color: var(--bs-card-color);
  box-shadow: inset 0 0 13px 1px #35357a4a;
  max-width: fit-content;
  padding: 1em;
  border-radius: 10px;
}

// ============================
// MODAL COMPONENTS
// ============================

.modal {
  overflow-x: clip;
  overflow-y: clip;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  --bs-modal-margin: 5%;
  z-index: 99999;
}

.modal::-webkit-scrollbar-thumb:horizontal {
  border: 5px solid white;
}

.sF-modal .modal-content {
  overflow: auto;
  min-width: 276px;
  max-height: 85vh;
}

.modal-content {
  box-shadow: 0 0 20vh 20px #00000082;
}

.sF-modal button,
button .sF-modal {
  text-transform: none;
  border: 1px solid black;
  border-radius: var(--bs-border-radius);
}

#app-deconvolution_pars-folder-modal .modal-header,
#app-deconvolution_pars-target_folder-modal .modal-header,
#app-deconvolution_pars-file-modal .modal-header {
  padding-bottom: 0;
}

#app-deconvolution_pars-folder-modal>div>div>div.modal-body>div.sF-navigation.btn-toolbar>select,
#app-deconvolution_pars-target_folder-modal>div>div>div.modal-body>div.sF-navigation.btn-toolbar>select,
#app-deconvolution_pars-file-modal>div>div>div.modal-body>div.sF-navigation.btn-toolbar>select {
  width: calc(70% - 340px);
}

#app-deconvolution_pars-folder-modal *::-webkit-scrollbar-track,
#app-deconvolution_pars-folder-modal::-webkit-scrollbar-track,
#app-deconvolution_pars-target_folder-modal *::-webkit-scrollbar-track,
#app-deconvolution_pars-target_folder-modal::-webkit-scrollbar-track,
#app-deconvolution_pars-file-modal *::-webkit-scrollbar-track,
#app-deconvolution_pars-file-modal::-webkit-scrollbar-track {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

#app-deconvolution_pars-path_selected,
#app-deconvolution_pars-targetpath_selected {
  border-color: #d17050;
  margin-top: -20px;
  margin-bottom: -1em;
}

.sF-dirList div.selected>.sF-file-name>div {
  background: #35357a !important;
}

.deconvolution-process-spinner {
  height: 100%;
}

.deconvolution-process-spinner>div {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
  align-content: center;
}

.progress-group {
  height: 47px;
}

#app-deconvolution_process-processing,
#app-deconvolution_process-processing_fin,
#app-deconvolution_process-processing_stop,
#app-deconvolution_process-processing_error {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
  align-content: center;
}

// ============================
// NAVIGATION & LAYOUT
// ============================

.nav-link,
.navbar-brand {
  color: black !important;
}

.bslib-page-navbar>.navbar {
  background: linear-gradient(90deg, #e8cb97, #c6c5b4, #ddddde) !important;
  box-shadow: 0px 6px 6px 0px rgb(0 0 0 / 38%) !important;
  z-index: 999 !important;
}

.bslib-page-navbar>.navbar .navbar-header {
  height: 2rem;
  margin-right: 4rem;
  margin-top: -5px;
}

.navbar-nav .dropdown-menu {
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 1px 0px 11px 1px #000000b8;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #38387c;
}

.bslib-sidebar-layout {
  background: linear-gradient(135deg, #35357a, #4a4a89, #77778f, #b0b0b8, #e0e0e0) !important;
}

.bslib-sidebar-layout>.sidebar {
  margin-top: 23px;
  margin-bottom: 24px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 4px 4px 7px 4px rgb(0 0 0 / 40%) !important;
  background: white !important;
}

.bslib-sidebar-layout>.sidebar *::-webkit-scrollbar-track,
.bslib-sidebar-layout>.sidebar::-webkit-scrollbar-track {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.bslib-sidebar-layout>.collapse-toggle {
  color: transparent;
}

.navbar+.container-fluid>.tab-content>.tab-pane.active.html-fill-container>.bslib-sidebar-layout:only-child:not([data-bslib-sidebar-border-radius="true"]) {
  --_sidebar-width: 23rem !important;
}

.deconvolution_info {
  font-size: smaller;
  font-style: italic;
  line-height: 2;
}

// ============================
// CARDS & CONTAINERS
// ============================

.bslib-card {
  box-shadow: 4px 4px 10px 4px rgb(0 0 0 / 55%) !important;
}

.deconvolution-parent-card {
  display: contents;
}

.deconvolution-running-interface {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.deconvolution-parent-card>div {
  margin-top: auto;
  margin-bottom: auto;
  flex: 1 1 auto;
  display: contents;
}

.deconvolution-running-control-card {
  min-height: fit-content;
}

.deconvolution-running-result-card {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 0;
}

.full-height-row,
.full-height-row>div {
  height: 100%;
}

.full-height-row>div>div {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  flex-wrap: wrap;
  justify-content: center;
}

.card-custom .bslib-card,
.card-log-output .bslib-card,
.card-log-control .bslib-card {
  box-shadow: none !important;
  border-color: #00000070;
  background-color: #dfdfdf42;
}

.card-custom .bslib-card {
  border-radius: 4px;
}

.card-custom .bslib-card .card-header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.deconvolution-result-content-noplate {
  height: 100%;
}

.deconvolution-result-content-plate {
  flex-grow: 1;
  align-content: center;
}

.deconvolution-result-content-noplate>div,
.deconvolution-result-content-plate>div,
.deconvolution-result-content-plate>div>div,
.deconvolution-result-content-noplate>div>div {
  height: 100%;
  align-content: center;
}

#app-logs-log-output {
  font-family: monospace;
  padding-bottom: 2rem;
  max-height: 26rem;
  padding-left: 5rem;
  padding-right: 10rem;
}

.spectrum-plot-plate,
.heatmap-plot {
  padding-right: 3rem;
  padding-left: 3rem;
}

.spectrum-plot-noplate,
.spectrum-plot-plate,
.heatmap-plot {
  height: 90% !important;
}

#app-deconvolution_process-spectrum,
#app-deconvolution_process-heatmap {
  visibility: unset !important;
}

.deconvolution-result-controls,
.deconvolution-result-controls-noplate {
  height: 90%;
}

.deconvolution-result-controls {
  padding-left: 3rem;
  padding-right: 3rem;
}

#app-deconvolution_process-logtext {
  overflow-y: auto;
  max-height: 22rem;
  height: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#app-deconvolution_process-logtext::-webkit-scrollbar-track {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

#app-deconvolution_process-decon_rep_logtext {
  overflow-y: auto;
  max-height: 35vh;
  height: 100%;
  margin-top: 1.5em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#app-deconvolution_process-decon_rep_logtext::-webkit-scrollbar-track {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

// ============================
// FORM INPUTS & CONTROLS
// ============================

#app-deconvolution_pars-folder,
#app-deconvolution_pars-file {
  width: 100%;
  min-width: max-content;
}

#app-deconvolution_pars-folder:hover,
#app-deconvolution_pars-file:hover {
  background-color: var(--bs-btn-hover-bg) !important;
  border-color: var(--bs-btn-hover-border-color) !important;
  color: var(--bs-btn-hover-color) !important;
}

.form-control:disabled {
  background-color: transparent;
  opacity: 0.3;
  pointer-events: none;
}

.shiny-input-container:not(.shiny-input-container-inline) {
  width: 100%;
}

// Deconvolution progress bar
.progress {
  height: 2em;
  border: none;
  --bs-progress-bar-bg: #8bc34a;
  --bs-progress-bg: #f7f7f7;
}

input[type="number"]::-webkit-inner-spin-button {
  position: relative;
  left: 7px;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #000000;
  outline: 0;
  box-shadow: 0 0 6px 0.25rem #35357a42;
}

textarea.form-control {
  height: 10vh;
  max-height: 20vh;
}

.shiny-text-output {
  overflow: auto;
  margin-bottom: 0;
  padding-bottom: 0;
  max-height: 150px;
}

.form-label,
.shiny-input-container .control-label {
  margin-bottom: 0;
  color: RGBA(var(--bs-emphasis-color-rgb, 0, 0, 0), 0.5);
  font-style: italic;
  font-size: smaller;
}

.shiny-input-container .radio input:checked {
  border-color: #38387c;
  background-color: #38387c;
}

.shiny-input-container .checkbox input:checked {
  background-color: #38387c;
  border-color: #38387c;
}

.deconv-param-input .shiny-input-container .control-label,
.deconv-param-input-adv .shiny-input-container .control-label,
.deconv-param-input-time .shiny-input-container .control-label {
  display: none;
}

#app-deconvolution_pars-deconvolution_mode {
  margin-top: -3em;
}

#app-deconvolution_pars-dir_check,
#app-deconvolution_pars-targetpath_check {
  font-style: italic;
  font-size: 14px;
  color: #000;
  margin-bottom: 1rem;
  display: block;
}

#app-deconvolution_process-message_ui,
#app-deconvolution_process-warning_ui {
  text-align: justify;
}

#app-deconvolution_process-warning_ui {
  font-style: italic;
}

#app-deconvolution_process-target_sel_ui>div>div {
  width: inherit;
}

#app-deconvolution_process-target_sel_ui .shiny-input-container:not(.shiny-input-container-inline) {
  width: 100%;
  margin-top: -1rem;
  margin-bottom: 0;
}

#app-deconvolution_process-target_sel_ui .form-group .bootstrap-select {
  width: inherit;
}

#app-deconvolution_process-decon_select {
  margin-top: -1em;
}

.result-picker {
  margin-top: -1.5em;
}

.result-picker .selectize-control.single .selectize-input {
  height: 47px;
  border: 1px solid black;
}

.inner .show {
  max-height: 16rem;
}

.deconv-rep-element .shiny-input-container:not(.shiny-input-container-inline) {
  width: 100%;
}

deconv-rep-check {
  position: relative;
  top: 3vh;
}

// Batch processing mode input positioning
.batch-file {
  margin-bottom: -0.5em;
  margin-top: -1em;
}

.batch-select {
  margin-top: -2em;
  margin-bottom: -2em;
}

// ============================
// SELECTIZE COMPONENTS
// ============================

.selectize-control {
  min-height: 40px;
}

.selectize-control .selectize-input.disabled {
  opacity: 0.5;
  background-color: rgba(var(--bs-emphasis-color-rgb, 0, 0, 0), 0.06);
  cursor: not-allowed !important;
}

.selectize-input {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: calc(var(--base-size, 14px) * var(--scale-factor, 1));
}

.selectize-input.focus {
  border-color: black !important;
  box-shadow: none;
}

.selectize-input>* {
  vertical-align: -webkit-baseline-middle;
}

.selectize-dropdown {
  position: absolute !important;
}

.selectize-dropdown .selected {
  background-color: #38387c;
}

.selectize-dropdown-content .option {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: calc(var(--base-size, 14px) * var(--scale-factor, 1));
}

.batch-select .selectize-dropdown {
  top: auto !important;
  bottom: 100% !important;
  box-shadow: 1px -4px 12px rgb(0 0 0 / 40%);
}

.bootstrap-select>.dropdown-toggle {
  border-color: black;
}

.bootstrap-select .dropdown-menu {
  box-shadow: 0px 0px 10px 2px #00000087;
  border-radius: 5px;
}

// ============================
// BUTTONS
// ============================

.btn {
  --bs-btn-disabled-opacity: 0.3;
}

.btn-primary,
.btn-outline-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #38387c;
  --bs-btn-border-color: #38387c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #38387c;
  --bs-btn-hover-border-color: #38387c;
  --bs-btn-focus-shadow-rgb: 38, 143, 203;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #38387c;
  --bs-btn-active-border-color: #38387c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #38387c;
  --bs-btn-disabled-border-color: #38387c;
}

.btn-primary:hover {
  background-color: #404040;
  color: white;
}

.btn-group>.btn {
  background-color: white;
  color: #404040;
}

.btn-group>.btn:hover {
  background-color: #404040;
  color: white;
}

.btn-group .btn-group-sm .btn-group>.btn {
  border-color: #404040;
}

.btn-check:checked+.btn:hover {
  color: #fff !important;
  background-color: #38387c !important;
  border-color: #38387c !important;
}

.bs-actionsbox .btn-group {
  border: 1px solid #404040;
}

.load-db {
  background-color: #38387c;
  color: white;
}

.log-button .btn {
  width: 15rem;
}

.modal-button .btn {
  width: 120px;
}

#app-open_update_modal:hover {
  background: none;
  border-radius: 0;
}

#app-deconvolution_process-deconvolute_start {
  background: #38387c;
  color: white;
  box-shadow: 0 0 12px rgb(0 0 0 / 80%);
  animation: pulsate-shadow 2s infinite ease-in-out;
  padding: 15px;
  padding-right: 40px;
  padding-left: 40px;
}

#app-deconvolution_process-deconvolute_start:hover {
  background: #404040;
  animation: pulsate-shadow 2s infinite ease-in-out;
}

#app-deconvolution_process-deconvolute_end,
#app-deconvolution_process-forward_deconvolution {
  width: 100%;
}

#app-deconvolution_process-copy_deconvolution_log {
  color: white;
  background: #38387c;
}

#app-deconvolution_process-copy_deconvolution_log:hover {
  color: white;
  background: #404040;
}

.decon-btn .btn-default .fas {
  position: relative;
  right: 8px;
  padding-left: 8px;
}

decon-report-modal .btn-default {
  width: 160px;
}

@keyframes pulsate-shadow {

  0%,
  100% {
    box-shadow: 0 0 12px rgb(0 0 0 / 80%);
  }

  50% {
    box-shadow:
      0 0 20px rgba(0, 0, 0, 1),
      0 0 16px rgba(0, 0, 0, 0.8);
  }
}

#app-deconvolution_process-toggle_result .btn-group {
  width: 100%;
}

// ======================================
// Plotly graphs
// ======================================

.js-plotly-plot .plotly svg {
  background: none !important;
}

// ======================================
// PROTEIN CONVERSION AND KI/KINACT TABS
// ======================================

.locked-panel .bslib-sidebar-layout>.sidebar,
.locked-panel .bslib-sidebar-layout .bslib-page-main {
  filter: blur(3px);
  pointer-events: none;
}

.locked-panel .bslib-sidebar-layout>.collapse-toggle {
  display: none;
}

.bslib-sidebar-layout>.collapse-toggle {
  display: none;
}

.navbar+.container-fluid>.tab-content>.tab-pane.active.html-fill-container {
  padding: 0;
}

#overlay-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ddddde;
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 20px;
  color: black;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 70%);
  z-index: 9999;
  display: block;
  border: 1px solid #00000080;
}

.bslib-sidebar-layout,
.html-fill-container>.bslib-sidebar-layout.html-fill-item {
  --_sidebar-width: 23rem !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}